@import url("https://fonts.googleapis.com/css?family=mulifamily=Muli:wght@300;400&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Muli", sans-serif;
    display: flex;
    /* background-image: linear-gradient(
        120deg,
        rgb(92, 77, 226),
        rgb(210, 217, 218)
    ); */
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}
.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .panel {
        background-size: 140% auto;
        background-position: center;
        background-repeat: no-repeat;
        width: 80vw;
        border-radius: 50px;
        color: #fff;
        cursor: pointer;
        flex: 0.5;
        margin: 10px;
        position: relative;
        transition: flex 0.7s ease-in;
    }

    .panel h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        position: absolute;
        bottom: 3rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin: 0;
        opacity: 0;
    }
}
